.intro-header {

  background-image: url('img/song.mp4');
  background-position: center center;
  background-size: contain;
}

.post-title {
	color:#35B51C;
}

.post-title:hover {
	color:#509C2B;
}

.post-subtitle:hover {
	color:#509C2B;
}

.video-container {
	position: absolute;
	top: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

video {
	position: absolute;
	z-index: -1;
	opacity: 0.78;
	width: 100%;
}

.container {
	height: 600px;
}

.next {
	background-color: #35B51C;
}

.link_inscription {
		font-size:18px;
}

.link_inscription:hover {
	color:#509C2B;
}

.text-muted {
	margin-left: 40px;
}

.checkbox {
	margin-left: 50px;
}